body {
  font: 10px sans-serif;
}

.xAxis path, .yAxis path,
.xAxis line, .yAxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*.x.axis path {
  display: none;
}*/

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}